@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Plus Jakarta Sans", serif;
}
.css-1b2xsvz-MuiTypography-root {
  font-family: "Plus Jakarta Sans", serif !important;
}
.css-hwb603-MuiListSubheader-root {
  font-family: "Plus Jakarta Sans", serif !important;
}
.css-2ulfj5-MuiTypography-root {
  font-family: "Plus Jakarta Sans", serif !important;
}
.css-ol7wxs-MuiTypography-root {
  font-family: "Plus Jakarta Sans", serif !important;
}

/* Target the scrollbar track and thumb */
.my-scrollable-element::-webkit-scrollbar {
  width: 0px; /* Set scrollbar width */
}

.css-jhg68t {
  transition: width 0.3s ease !important; /* Smooth animation for width */
  /* width: 320px !important; */
}
.css-2ld9pa{
  transition: width 0.3s ease !important; /* Smooth animation for width */
}

.css-zjorp6{
  transition: width 0.3s ease !important; /* Smooth animation for width */
  z-index: 100;
  position: relative;
}

/* Profile  */
.css-whu3bg {
  padding: 8px !important;
}

.large-screens {
  display: block;
}

.small-screens {
  display: none;
}

/* =============================  notifications bar start  ============================================= */
.ant-notification-topRight.ant-notification-stack
  > .ant-notification-notice-wrapper {
  top: 50px !important;
  right: -8px !important;
}
.ant-notification-notice {
  padding: 14px 12px !important;
  width: 480px !important;
}
.ant-notification-notice-icon-success.anticon {
  color: #2b9744 !important;
}
.ant-notification-notice-icon {
  top: 21px !important;
}

.ant-notification-notice-message {
  margin-bottom: 0 !important;
  font-size: 13px !important;
  font-weight: 800 !important;
}
.ant-notification-notice-description {
  font-size: 13px !important;
}
.ant-notification-notice-close {
  top: 23px !important;
  background: #e9e9e9;
  color: #888888 !important;
  font-size: 10px !important;
  border-radius: 15px !important;
}
/* =============================  notifications bar end  ============================================= */

/* dialog  */
.MuiDialog-paper {
  border-radius: 15px !important;
}
/* input field  */
.MuiOutlinedInput-notchedOutline {
  border-radius: 10px !important;
}
/* select list in select field */
.MuiMenu-list{
  max-height: 260px !important;
}
.MuiInputBase-input {
  padding: 10px 14px !important;
}
.MuiInputLabel-outlined {
  top: -4px !important;
}
.MuiMenu-list > li:hover,
.Mui-focused > input,
.Mui-focused > div {
  color: #1976d2 !important;
}
/* for error field */
.Mui-error > input,
.Mui-error > div {
  color: #d32f2f !important;
}

/* icon in btton  */
.MuiSvgIcon-root {
  vertical-align: -4px !important;
}
/* small screen  */
@media (max-width: 640px) {
  /* dialog  */
  .MuiDialog-paper {
    margin: 10px !important;
  }
}

@media (max-width: 1165px) {
  .large-screens {
    display: none;
  }

  .small-screens {
    display: block;
  }
  .hide-icon{
    display: none;
  }
  .nav-width {
    display: none;
  }
}

.two-icons:hover .icons {
  color: white !important;
}
.nav-bar{
  background: white !important;
  position: sticky !important;
  top: 0;
  z-index: 100;
}

.tool-bar{
  background: white !important;
  position: sticky !important;
  top: 0;
  z-index: 100;
}
/* Table Row Height */

/* Style for smaller row height */
.small-row {
  height: 30px !important; /* Adjust row height */
  font-family: "Plus Jakarta Sans", serif !important;
  /* font-weight: 600; */

}

.small-row td {
  padding: 8px !important; /* Reduce padding for cells */
  
}

.ant-table-cell {
  font-size: 12px; /* Adjust font size to fit the smaller row */
}

.paper-shadow{
  box-shadow: rgb(145 158 171 / 30%) 0px 0px 2px 0px, rgb(145 158 171 / 12%) 0px 12px 24px -4px;
}


.bread-crumb{
  font-family: "Plus Jakarta Sans", serif !important;
}

.table-height{
  /* height: 400px; */
  /* overflow-y: auto; */
  width: 100%; /* Use available space */
  overflow: auto; /* Contain scrolls within this div */
}


.ant-table-thead{
  position: sticky;
    top: 0;
    z-index: 10;

  }
  
  .ant-table-thead > tr >th {
  background-color: white !important;
  font-family: "Plus Jakarta Sans", serif !important;
  font-size: 14px;
  padding: 12px !important;

}

.ant-pagination  {
  justify-content: end !important;
}

.ant-table-column-sorter{
  color: #1976d2 !important;
}



/* Custom scroll styles for the table */
.custom-scroll-table .ant-table-body {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #b0b0b0 #f1f1f1; /* Scroll thumb and track colors */
}

/* Webkit-based browsers (Chrome, Edge, Safari) */
.custom-scroll-table .ant-table-body::-webkit-scrollbar {
  width: 8px; /* Horizontal scrollbar height */
  height: 8px; /* Vertical scrollbar height */
}

.custom-scroll-table .ant-table-body::-webkit-scrollbar-thumb {
  background-color: #b0b0b0; /* Scroll thumb color */
  border-radius: 4px;
}

.custom-scroll-table .ant-table-body::-webkit-scrollbar-thumb:hover {
  background-color: #b0b0b0; /* Thumb hover color */
}

.custom-scroll-table .ant-table-body::-webkit-scrollbar-track {
  background: #f1f1f1; /* Scroll track color */
}

/* Optional: Add a border to the fixed columns */
.custom-scroll-table .ant-table-fixed-left {
  border-right: 1px solid #ddd;
}

.custom-scroll-table .ant-table-fixed-right {
  border-left: 1px solid #ddd;
}

.nav-width{
  width: calc(100vw - 300px)
}

.nav-width-collapse{
  width: calc(100vw - 100px)

}

.large-screens > div {
  position: relative;
}
.large-screens  > div > div {
  position: fixed;
  border-right: 1px solid rgb(218, 218, 218);
  height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;

}

/* Target the scrollbar track and thumb */
.css-1g48ue6::-webkit-scrollbar {
  width: 2px !important; /* Set scrollbar width */
}


.small-screen-nav-width{
  width: calc(100vw - 80px);
}

.navbar-small-screens{
  position: sticky;
    top: 0;
    z-index: 100;
    background: white;

}